body{
    text-align: center !important;
    background-color: rgb(211, 211, 211) !important;
    
}

header{
    background-color:   #05445e;
    border-bottom:2px solid white;
}

#conheader{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Josefin Sans';
    text-shadow: 1px 1px black;
    padding: 1.8em;
    color: white;
}

.top p{
    max-width: 100%;
    max-height: 100%;
    margin-top: 2vh;
    font-size: 1.8rem;
}

.top img{
    max-width: 100%;
    max-height: 100%;
}


/* NAVBAR */

#hamburger{
    display: none;
}

#conportrait{
    display:none;

}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color:#d4f1f4;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: black;
  }
  
  li {
    float: left;
  }

  #date{
      float: right;
      padding: 10px;
      color: black;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
  }
  
  li a:hover {
    background-color: #189ab4;
    color:white;
    text-decoration: none;
  }

.navbar p{
    margin-top: 0vh !important;
    margin-bottom: 0vh !important;
}

.navbar a{
    color:rgb(255, 255, 255) !important;
}


marquee{
    border-top: 3px solid rgb(58, 56, 54);
    border-bottom: 3px solid rgb(58, 56, 54);
    background-color: white;
    color: #333333;
    font-weight: bold;
    font-size: 2rem;
}

.container-content{
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 6vh;
}

.title{
    font-weight: bold;
    font-size: 1.7em !important;
    text-shadow: 1px 1px white;
}

#boardmeetings{
    padding:3em;
    background-color: #189ab4;
    margin-left: 0vw;
    box-shadow: dimgray .0vw 1vw 1vw;
    border:solid 2px dimgray;
}

#boardmeetings p{
    text-align: center;
    font-size: 1.2em;
}

#boardmeetings a {
    color:white;
}

#emailform{
    position: absolute;
    z-index: 2;
    background-color: #d4f1f4;
    width: 100vw;
    height: 100vh;
}

#arcmeetings{
    padding:3em;
    margin-top: 9vh;
    background-color:  #d4f1f4;
    margin-bottom: 5vh;
    box-shadow: .4vw .4vw rgb(71, 71, 71);
    border:solid 2px dimgray;
}

#arcmeetings p{
    text-align: center;
    font-size: 1.1em;
}

#violationsmeetings{
    padding:3em;
    margin-top: 9vh !important;
    margin-bottom: 5vh;
    background-color: #d4f1f4;
    box-shadow:  -.4vw .4vw  rgb(71, 71, 71);
    z-index: -1;
    border:solid 2px dimgray;
}

#violationsmeetings p{
    text-align: center;
    font-size: 1.1em;
}

footer{
    text-align: center;
    background-color: #05445e;
    width:100vw;
    color: whitesmoke;
    padding:3rem; 
}


@media only screen  
  and (max-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2)
  {

    .container-content{
        display: inline-block;
        margin-top: 0vh !important;
        width:90vw;
        margin-left: 0vw;
    }

    #arcmeetings{
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    #boardmeetings{
        margin-top: 2vh !important;
    }

    #violationsmeetings{
        margin-top: 2vh !important;
        margin-bottom: 0vh !important;
    }

    footer{
        margin-top: 2vh;
    }

  }

  @media screen 
  and (min-width: 800px) 
  and (max-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  

}


@media screen 
  and (min-width: 100px) 
  and (max-width: 799px) 
  and (-webkit-min-device-pixel-ratio: 1){

    #hamburger{
        display: block;
        background-color: #d4f1f4;
        width:100vw;
    }

    .fas{
        margin-top:1vh;
        margin-bottom: 1vh;
        margin-left: -85vw;
        font-size: 2.5rem;
    }

    #conheader{
        display: grid;
        grid-template-columns:  2fr 1fr 2fr;
        grid-template-rows: 1fr;
        font-family: 'Josefin Sans';
        text-shadow: 1px 1px black;
        padding: 4em;
        color: white;
    }

    .container-navbar{
        display:none;
    }

    #conportrait{
        display:none;
        padding:.5rem;
    }

    #conportrait ul{
        padding:1rem;
        background-color: #05445e;
        font-size: 2rem;
    }

    #conportrait li{
        float: none;
    }

    #conportrait a{
        color:white !important;

    }

  }



  @media only screen  
  and (max-device-width: 1050px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #hamburger{
        display: block;
        background-color: #d4f1f4;
        width:100vw;
    }

    .fas{
        margin-top:1vh;
        margin-bottom: 1vh;
        margin-left: -85vw;
        font-size: 2.5rem;
    }

    #conheader{
        padding: 4em;
    }

    .top p{
        font-size: 2.1rem;
    }

    .container-navbar{
        display:none;
    }

    #conportrait{
        display:none;
        padding:.5rem;
    }

    #conportrait ul{
        padding:1rem;
        background-color: #05445e;
        font-size: 2rem;
    }

    #conportrait li{
        float: none;
    }

    #conportrait a{
        color:white !important;

    }
    .container-content{
        margin-left: 0vw !important;
    }

    #boardmeetings p{
        font-size: 1.6em !important;
    }

    #arcmeetings p{
        font-size: 1.4em;
    }

    #violationsmeetings p{
        font-size: 1.4em;
    }

}

@media only screen  
  and (max-device-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    #hamburger{
        display: block;
        background-color: #d4f1f4;
        width:100vw;
    }

    .fas{
        margin-top:1vh;
        margin-bottom: 1vh;
        margin-left: -85vw;
        font-size: 2.5rem;
    }

    #conheader{
        padding: 4em;
    }

    .container-navbar{
        display:none;
    }

    #conportrait{
        display:none;
        padding:.5rem;
    }

    #conportrait ul{
        padding:1rem;
        background-color: #05445e;
        font-size: 1.2rem;
    }

    #conportrait li{
        float: none;
    }

    #conportrait a{
        color:white !important;

    }

    .container-content{
        margin-left: 0vw !important;
    }
    
}