body{
    text-align: center !important;
    background-color: rgb(211, 211, 211) !important;
    
}

header{
    background-color:   #05445e;
    border-bottom:2px solid white;
}

#conheader{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Josefin Sans';
    text-shadow: 1px 1px black;
    padding: 1.8em;
    color: white;
}

.top p{
    max-width: 100%;
    max-height: 100%;
    margin-top: 2vh;
    font-size: 1.8rem;
}

.top img{
    width: 140px;
    height: 110px;
}

/* NAVBAR */

#hamburger{
    display: none;
}

#conportrait{
    display:none;

}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color:#d4f1f4;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: black;
  }
  
  li {
    float: left;
  }

  #date{
      float: right;
      padding: 10px;
      color: black;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
  }
  
  li a:hover {
    background-color: #189ab4;
    color:white;
    text-decoration: none;
  }

.navbar p{
    margin-top: 0vh !important;
    margin-bottom: 0vh !important;
}

.navbar a{
    color:rgb(255, 255, 255) !important;
}


marquee{
    border-top: 3px solid rgb(58, 56, 54);
    border-bottom: 3px solid rgb(58, 56, 54);
    background-color: white;
    color: #333333;
    font-weight: bold;
    font-size: 2rem;
}



#current{
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-family: 'Righteous', cursive !important;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px white; 
}


#edition{
    font-size:4em;
    margin-bottom: 10vh;
}



#bottom{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.sides{
    width:24vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

#ideas{

}

#past{
    text-align: center !important;
    font-family: 'Righteous', cursive !important;
}

#p1{
    margin-top: 2vh;
    font-weight: bold;
    font-size: 2em;
}

#p2{
    font-size: 1.2em;
    padding-top: 1vh !important;
}

#oldyears{
    display:inline-flexbox;
    padding: .1rem;
}

#oldyears p{
    margin-top:2vh;
    border: rgb(114, 37, 37) 1px solid; 
    background-color: rgb(206, 29, 29); 
    font-size: .8rem;
    color:white;
}

#oldyears p{
    padding:1em;
}



#modal1{
    background-color: white;
    padding: 1em;
    width:26vw;
    display: none;
    border: 1px solid grey;
    box-shadow: 0vw .1vw .1vw grey;
    margin-top:2vh;
    font-family: 'Righteous', cursive !important;
    margin-left: -1vw;
}

#modal2{
    background-color: white;
    padding: 1em;
    width:26vw;
    margin-left: .35vw;
    display: none;
    border: 1px solid grey;
    box-shadow: 0vw .1vw .1vw grey;
    margin-top:2vh;
    font-family: 'Righteous', cursive !important;
    margin-left: -1vw;
}

#modal3{
    background-color: white;
    padding: 1em;
    width:26vw;
    margin-left: .35vw;
    display: none;
    border: 1px solid grey;
    box-shadow: 0vw .1vw .1vw grey;
    margin-top:2vh;
    font-family: 'Righteous', cursive !important;
    margin-left: -1vw;
}

#modal4{
    background-color: white;
    padding: 1em;
    width:26vw;
    margin-left: .35vw;
    display: none;
    border: 1px solid grey;
    box-shadow: 0vw .1vw .1vw grey;
    margin-top:2vh;
    font-family: 'Righteous', cursive !important;
    margin-left: -1vw;
}

footer{
    text-align: center;
    background-color: #05445e;
    width:100vw;
    color: whitesmoke;
    margin-top: 5vh;
    padding:3rem; 
}





@media only screen  
  and (max-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2)
  {

    .container-content{
        display: inline-block;
        margin-top: 0vh !important;
        width:90vw;
        margin-left: 0vw;
    }

    #arcmeetings{
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    #boardmeetings{
        margin-top: 2vh !important;
    }

    #violationsmeetings{
        margin-top: 2vh !important;
        margin-bottom: 0vh !important;
    }

    footer{
        margin-top: 2vh;
    }

  }

  @media screen 
  and (min-width: 800px) 
  and (max-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    #bottom{
        display: inline-block;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
    }

    .sides{
        width:60vw;
        margin-top: 8vh;
    }

    #modal1{
        width:62vw;
    }

    #modal2{
        width:62vw;
    }

    #modal3{
        width:62vw;
    }

    #modal4{
        width:62vw;
    }

}


@media screen 
  and (min-width: 100px) 
  and (max-width: 799px) 
  and (-webkit-min-device-pixel-ratio: 1){

    #hamburger{
        display: block;
        background-color: #d4f1f4;
        width:100vw;
    }

    .fas{
        margin-top:1vh;
        margin-bottom: 1vh;
        margin-left: -85vw;
        font-size: 2.5rem;
    }

    #conheader{
        display: grid;
        grid-template-columns:  2fr 1fr 2fr;
        grid-template-rows: 1fr;
        font-family: 'Josefin Sans';
        text-shadow: 1px 1px black;
        padding: 4em;
        color: white;
    }

    .container-navbar{
        display:none;
    }

    #conportrait{
        display:none;
        padding:.5rem;
    }

    #conportrait ul{
        padding:1rem;
        background-color: #05445e;
        font-size: 2rem;
    }

    #conportrait li{
        float: none;
    }

    #conportrait a{
        color:white !important;

    }

    object{
        width:480px;
    }

    #edition{
        font-size: 2.8rem;
    }

    #bottom{
        display: inline-block;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
    }

    .sides{
        width:60vw;
        margin-top: 8vh;
    }



  }



  @media only screen  
  and (max-device-width: 1050px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #hamburger{
        display: block;
        background-color: #d4f1f4;
        width:100vw;
    }

    .fas{
        margin-top:1vh;
        margin-bottom: 1vh;
        margin-left: -85vw;
        font-size: 2.5rem;
    }

    #conheader{
        padding: 4em;
    }

    .top p{
        font-size: 2.1rem;
    }

    .top img{
        margin-top: 2vh;
    }

    .container-navbar{
        display:none;
    }

    #conportrait{
        display:none;
        padding:.5rem;
    }

    #conportrait ul{
        padding:1rem;
        background-color: #05445e;
        font-size: 2rem;
    }

    #conportrait li{
        float: none;
    }

    #conportrait a{
        color:white !important;

    }
    .container-content{
        margin-left: 0vw !important;
    }

    #bottom{
        display: inline-block;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
    }

    .sides{
        width:60vw;
        margin-top: 8vh;
    }

    #past{
        
        margin-bottom: 6vh;
    }

    #p1{
        font-size: 3rem;
    }

    #p2{
        font-size: 2.4rem;
    }

    #ideas img{
        width:16vw !important;
    }

    #oldyears p{
      font-size: 1.4rem;
    }

    #modal1{
        width:62vw;
    }

    #modal2{
        width:62vw;
    }

    #modal3{
        width:62vw;
    }

    #modal4{
        width:62vw;
    }

}

@media only screen  
  and (max-device-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    #hamburger{
        display: block;
        background-color: #d4f1f4;
        width:100vw;
    }

    .fas{
        margin-top:1vh;
        margin-bottom: 1vh;
        margin-left: -85vw;
        font-size: 2.5rem;
    }

    #conheader{
        padding: 4em;
    }

    .container-navbar{
        display:none;
    }

    #conportrait{
        display:none;
        padding:.5rem;
    }

    #conportrait ul{
        padding:1rem;
        background-color: #05445e;
        font-size: 1.2rem;
    }

    #conportrait li{
        float: none;
    }

    #conportrait a{
        color:white !important;

    }

    .container-content{
        margin-left: 0vw !important;
    }


    #bottom{
        display: inline-block;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
    }

    .sides{
        width:60vw;
        margin-top: 8vh;
    }
    
    #modal1{
        width:62vw;
        font-size: 2rem;
    }

    #modal2{
        width:62vw;
        font-size: 2rem;
    }

    #modal3{
        width:62vw;
        font-size: 2rem;
    }

    #modal4{
        width:62vw;
        font-size: 2rem;
    }


    #oldyears p{
        font-size: 1.4rem;
      }

    #p1{
        font-size: 2.6rem;
    }

    #p2{
        font-size: 2rem;
    }
}